/* global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    color: #EBE9E2;
}

body {
    background-color: #323232;
}

h1 {
    font-weight: 500;
    font-size: calc(3rem + 3vw);
    letter-spacing: 0.05em;
}

h3 {
    font-weight: 300;
    font-size: calc(1rem + 1vw);
    line-height: 100%;
}

p {
    font-size: calc(0.75rem + 0.5vw);
    font-weight: 300;
    line-height: 140%;
}

span {
    font-size: clamp(14px, calc(0.5rem + 0.5vw), calc(0.5rem + 0.5vw));
}

.tag {
    color: #C1C1C1;
    font-weight: 300;
}

/* @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOut {
  from {
      opacity: 1;
    }
  to {
      opacity: 0;
    }
} */

/* #cursor {
    padding: 4px 12px;
    background-color: rgba(255, 255, 255, 0.08);
    font-size: clamp(12px, calc(0.5rem + 0.5vw), calc(0.5rem + 0.5vw));
    font-weight: 300;
    width: max-content;
    border-radius: 8px;
    position: absolute;
    transform: translate(12px, -28px);
    backdrop-filter: blur(10px);
    opacity: 0;
} */

.fade {
    animation: 750ms both fade;
}

.fade-out {
    animation: 300ms both fadeOut;
}

/* logo and header */

header {
    padding: 40px;
    height: 95vh;
    min-height: 800px;
    background: linear-gradient(180deg, #232323 0%, #323232 100%);
}

#logo {
    height: 24px;
}

#title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.title-text {
    transition: opacity 300ms ease-out;
    z-index: 10;
}

#header-1 {
    margin: 0 0 0 -40vw;
    max-height: 120px;
}

#header-2 {
    margin: 0 0 0 24vw;
    white-space: nowrap;
    max-height: 120px;
}

#header-3 {
   margin: 12vh 0 0 -10vw;
   white-space: nowrap;
   max-height: 120px;
}

#header-4 {
    display: inline-block;
    margin: 0 0 32px 32vw;
    width: 40vw;
}

.mobile-image-container {
    display: none;
}

.header-img {
    width: calc(3.5rem + 3.5vw);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 300ms ease-out;
    visibility: hidden;
    filter: drop-shadow(rgba(0,0,0,0.6) -4px 4px 12px);
}

.tall {
    aspect-ratio: 2 / 3;
}

.square {
    aspect-ratio: 1 / 1;
}

.large {
    aspect-ratio: 1 / 1;
    min-width: calc(6rem + 6vw);
}

.wide {
    min-width: calc(12rem + 12vw);
    filter: drop-shadow(rgba(0,0,0,0.1) -4px 4px 12px);
}

#ux-designer-images {
    position: relative;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
}

#ux-design-1 {
    position: absolute;
    top: -3vw;
    left: -5vw;
}

#ux-design-2 {
    position: absolute;
    top: -1vw;
    left: 27vw;
}

#ux-design-3 {
    position: absolute;
    top: 5vw;
    left: 30vw;
    filter: drop-shadow(rgba(0,0,0,0) -4px 4px 12px);
}

#ux-design-4 {
    position: absolute;
    top: -14vw;
    left: 38vw;
}


#creative-developer-images {
    position: relative;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
}

#creative-dev-1 {
    position: absolute;
    top: -3vw;
    left: -10vw;
}

#creative-dev-2 {
    position: absolute;
    top: 4vw;
    left: 1vw;
}

#creative-dev-3 {
    position: absolute;
    top: 4vw;
    left: 26vw;
}

#creative-dev-4 {
    position: absolute;
    top: -24vw;
    left: 28vw;
}


#ar-enthusiast-images {
    position: relative;
    top: 0;
    left: 0;
    height: 10px;
}

#ar-enthusiast-1 {
    position: absolute;
    top: -10vw;
    left: -14vw;
}

#ar-enthusiast-2 {
    position: absolute;
    top: -18vw;
    left: -2vw;
    filter: drop-shadow(rgba(0,0,0,0) -4px 4px 12px);
}

/* #ar-enthusiast-3 {
    position: absolute;
    top: -21vw;
    left: 11vw;
} */

#ar-enthusiast-4 {
    position: absolute;
    top: 0vw;
    left: 16vw;
}




/* main sections */

main {
    padding: 0 64px;
}

/* tab navigation */

nav {
    display: flex;
    gap: calc(0.75rem + 1vw);
}

nav::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

nav a{
    font-size: calc(1.5rem + 3vw);
    font-weight: 500;
    opacity: 0.3;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: opacity 300ms ease-out;
}

nav a:hover {
    opacity: 0.6;
}

.selected {
    opacity: 1;
}

.selected:hover {
    opacity: 1;
}

/* work section */

#work a {
    text-decoration: none;
}

.project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    margin: 64px 0 88px 0;
}

.project:hover picture {
    transform: scale(1.02);
}

@keyframes fadeIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.fade-in {
    animation: 0.75s both fadeIn;
}

.left {
    flex-direction: row-reverse;
}

.project-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-text p {
    max-width: 900px;
}

.tag-container {
    display: flex;
    gap: 12px;
    margin: 4px 0;
}

.project-img {
    aspect-ratio: 16 / 9;
    width: 75%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.about-img {
    width: 50%;
    border-radius: 8px;
}

.contact {
    width: 100%;
}

.contact a {
    font-size: calc(0.75rem + 0.5vw);
}

.overall-archive-container {
    height: max-content;
}

.archive-container {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    position: relative;
    left: -64px;
    height: max-content;
    padding: 32px 0;
}

.archive-container::-webkit-scrollbar {
    display: none;
}

.archive {
    display: flex;
    gap: 32px;
    padding: 0 64px;
    width: max-content;
    height: max-content;
}

.archive-img {
    height: 31vw;
    border-radius: 8px;
    overflow: hidden;
    max-height: 500px;
    min-height: 300px;
}

.archive .wide {
    aspect-ratio: 16 / 9;
}

.archive .square {
    aspect-ratio: 1 / 1;
}

.archive .tall {
    aspect-ratio: 4 / 5;
}

/* play section */

.container {
    position: relative;
    width: 100%;
    display: flex;
    gap: 32px;
    padding: 32px 0 80px 0;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.post {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post-text {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 8px;
}

.post-text p {
    font-size: clamp(12px, calc(0.5rem + 0.5vw), calc(0.5rem + 0.5vw));
}

.medium-gap {
    gap: 20px;
}

.small-gap {
    gap: 16px;
}

#play img {
    width: 100%;
    border-radius: 8px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px;
    align-items: center;
    color: #BEB8AA;
}

#socials {
    display: flex;
    gap: 16px;
}

#socials img {
    height: calc(0.5rem + 1vw);
    min-height: 24px;
}

/* about */

.contact {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 24px;
}

.contact div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    height: calc(0.5rem + 1vw);
    min-height: 16px;
}

/* hover animations */

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    to {
      background-position: 0%;
    }
  }

  .shiny:hover {
    background: linear-gradient(45deg, #fff 30%, #000 50%, #fff 75%);
    background-size: 300% 100%;
    background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0.4);
    animation: shine 500ms linear;
  }

/* media queries */

@media only screen and (min-width: 1700px) {
    main {
        max-width: 90vw;
        margin: 0 auto;
    }

    .project {
        gap: 80px;
    }

    .project-img {
        width: 85%;
    }

    #header-4 {
        padding-top: 28px;
    }

    .archive-container {
        left: -150px;
    }

    .archive {
        padding: 0 150px;
    }
}

@media only screen and (max-width: 1200px) {

    header {
        height: 90vh;
        min-height: 700px;
    }

    #header-1 {
        margin: 0 0 0 -46vw;
    }

    #header-2 {
        margin: 0 0 0 18vw;
    }

    #header-3 {
        margin: 12vh 0 0 -16vw;
    }

    #header-4 {
        margin: 0 0 32px 40vw;
    }

    #ux-design-1 {
        left: -1vw;
    }

    #ux-design-4 {
        left: 50vw;
    }

    #creative-dev-1 {
        left: -12vw;
    }

    #creative-dev-4 {
        top: -28vw;
    }

    #ar-enthusiast-1 {
        top: -4vw;
        left: -8vw;
    }

    #ar-enthusiast-2 {
        top: -22vw;
        left: -2vw;
    }

    #ar-enthusiast-4 {
        top: 4vw;
        left: 20vw;
    }

    .project-img {
        width: 60%;
    }
}

@media only screen and (max-width: 900px) {

    header {
        height: 90vh;
        min-height: 600px;
    }

    h1 {
        font-size: calc(2rem + 3vw);
    }

    p {
        font-size: calc(0.7rem + 0.5vw);
    }

    #header-3 {
        margin: 8vh 0 0 -16vw;
    }

    #header-4 {
        width: 50vw;
        margin: 0 0 18px 36vw;
    }

    .project {
        flex-direction: column-reverse;
        gap: 16px;
        margin: 44px 0 56px 0;
    }

    .project-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .tag-container {
        display: flex;
        gap: 12px;
        margin: 4px 0;
    }
    
    .project-img {
        width: 100%;
    }

    .about-img {
        width: 100%;
    }

    .header-img {
        width: calc(3rem + 3vw);
    }

    .large {
        min-width: calc(5rem + 5vw);
    }
    
    .wide {
        min-width: calc(10rem + 10vw);
    }

    #ux-design-2 {
        top: 0;
        left: 34vw;
    }
    
    #ux-design-3 {
        top: 8vw;
        left: 40vw;
    }

    #ux-design-4 {
        left: 54vw;
        top: -18vw;
    }

    #creative-dev-1 {
        left: -14vw;
    }

    #creative-dev-4 {
        top: -32vw;
    }

    #ar-enthusiast-1 {
        top: -4vw;
        left: -8vw;
    }

    #ar-enthusiast-2 {
        top: -25vw;
        left: -2vw;
    }

    #ar-enthusiast-4 {
        top: 4vw;
        left: 18vw;
    }
}

@media only screen and (max-width: 600px) {

    #title {
        align-items: flex-start;
    }

    header {
        padding: 20px;
        height: 90vh;
        min-height: 800px;
    }

    h1 {
        font-size: calc(1rem + 6vw);
        letter-spacing: normal;
    }

    p {
        font-size: calc(1rem + 0.5vw);
    }

    #header-1 {
        margin: 0;
    }

    #header-2 {
        margin: 0;
    }

    #header-3 {
        margin: 0;
    }

    #header-4 {
        margin: 0;
        width: 100%;
    }

    main {
        padding: 20px;
    }

    #creative-developer-images {
        height: 1px;
    }

    #ux-designer-images {
        height: 1px;
    }

    #ar-enthusiast-images {
        height: 1px;
    }

    #header-4 {
        padding-top: 12px;
    }

    .mobile-image-container {
        width: 100%;
        display: flex;
        padding: 12px 0;
        height: auto;
    }

    .mobile-sub-container {
        display: block;
    }

    .mobile-image-container#top {
        justify-content: flex-end;
    }

    .mobile-image-container#bottom {
        height: 240px;
    }

    .mobile-image-container .header-img {
        width: calc(5rem + 3vw);
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    .mobile-image-container .large {
        min-width: calc(8rem + 5vw);
    }

    #m-1 {
        top: 0;
        left: -5%;
    }

    #m-2 {
        top: -50%;
        left: 0;
    }

    #m-3 {
        filter: drop-shadow(rgba(0,0,0,0) -4px 4px 12px);
        z-index: 20;
        top: 10%;
        left: 0;
    }

    #m-4 {
        top: 40%;
        left: 10%;
    }

    footer {
        padding: 20px;
    }

    .archive .wide {
        aspect-ratio: 4 / 5;
    }
    
    .archive .square {
        aspect-ratio: 4 / 5;
    }
    

}

@media only screen and (max-width: 400px) {

    header {
        padding: 20px;
        height: 80vh;
        min-height: 700px;
    }

    h1 {
        font-size: calc(1rem + 5vw);
    }

    p {
        font-size: clamp(12px, calc(0.8rem + 0.5vw), calc(0.8rem + 0.5vw));
    }

    main {
        padding: 20px;
    }

    .mobile-image-container .header-img {
        width: calc(4rem + 3vw);
    }

    .mobile-image-container .large {
        min-width: calc(7rem + 5vw);
    }
    
}

@media only screen and (max-width: 318px) {

    header {
        padding: 20px;
        height: 70vh;
        min-height: 700px;
    }

    h1 {
        font-size: calc(0.5rem + 6.5vw);
    }

    p {
        font-size: 12px;
    }

    nav a{
        font-size: calc(1.35rem + 3vw);
    }

    nav {
        overflow: scroll;
    }
}

