/* Container */

footer {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px;
    align-items: center;
    color: #BEB8AA;
}

/* Social Icons */

#socials {
    display: flex;
    gap: 16px;
}

/* Screens < 600 */

@media only screen and (max-width: 600px) {
    
    footer {
        padding: 20px;
    }
    
}