/* Container */

.project {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    margin: 64px 0 88px 0;
}

.left {
    flex-direction: row-reverse;
}

.project:hover picture {
    transform: scale(1.02);
}

/* Typographic Layouts & Styling */

#work a {
    text-decoration: none;
}

.project-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-text p {
    max-width: 900px;
}

.tag-container {
    display: flex;
    gap: 12px;
    margin: 4px 0;
}

/* Imagery */

.project-img {
    aspect-ratio: 16 / 9;
    width: 75%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

/* Fade in Animation */

@keyframes fadeIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.fade-in {
    animation: 0.75s both fadeIn;
}

/* Screens > 1700px */

@media only screen and (min-width: 1700px) {

    .project {
        gap: 80px;
    }

    .project-img {
        width: 85%;
    }

}

/* Screens < 1200px */

@media only screen and (max-width: 1200px) {

    .project-img {
        width: 60%;
    }

}

/* Screens < 900px */

@media only screen and (max-width: 900px) {

    .project {
        flex-direction: column-reverse;
        gap: 16px;
        margin: 44px 0 56px 0;
    }

    .project-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    
    .tag-container {
        display: flex;
        gap: 12px;
        margin: 4px 0;
        overflow: scroll;
    }

    .tag-container::-webkit-scrollbar {
        display: none;
    }
    
    .project-img {
        width: 100%;
    }

}