/* Container */

nav {
    display: flex;
    gap: calc(0.75rem + 1vw);
}

nav::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Buttons */

nav button{
    font-size: calc(1.5rem + 3vw);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 300ms ease-out;
    background-color: var(--color-transparent);
    color: var(--color-text-deselected);
    border: 0px solid var(--color-transparent);
}

nav button:hover {
    color: var(--color-text-hover);
    cursor: pointer;
}

.selected {
    color: var(--color-text-primary);
}

.selected:hover {
    color: var(--color-text-primary);
}

/* Screens < 318px */

@media only screen and (max-width: 318px) {

    nav {
        overflow: scroll;
    }
}